body{
    .main_contacto{
        padding-top:$padding;
        @extend %flex;
        width: $width_total;
        .formulario{
            width: 310px;
            display:block;
            background-color:map-get($map: $paleta, $key: color-background);
            padding-top:$padding - 70;
            @include margin_arriba_abajo(20px,20px);
            border-radius:10%;
            // border: 1px solid #FF1C52;
            h2{
                @include titulo(38px);
                text-align: center;
                padding-bottom:$padding - 70;
            }
            form{
                @extend %flex;
                width: $width_total;
                padding-bottom:$padding - 50;
                .field{
                    margin: 10px;
                    height: 50px;
                    border-radius:50%;
                    text-align: center;
                }
                .field_des{
                    border-radius:10%;
                    text-align: center;
                    margin-bottom:30px;
                    padding: $padding - 75;
                }
                .btn{
                    width:200px;
                    border-radius: 10px;
                    border: 1px solid #FF1C52;
                    color: map-get($map: $paleta, $key: color-decorativo);
                    font-weight: bold;
                    &:hover{
                        background-color: map-get($map: $paleta, $key: color-decorativo);
                        color:map-get($map: $paleta, $key: color-blanco) ;
                    }
                }
            }
        }
    }
}