body{
    .container_pag{
        .main_portafolio{
            padding-top:$padding;
            width: $width_total;
            .con_portafolio{
                padding-top: $padding - 70;
                display:block;
                width: $width_total;
                text-align: center;
                .p_titulo{
                    padding-bottom: $padding - 60;
                    h2{
                        @include titulo(38px);
                    }
                }
                .portafolio_card{
                    @extend %flex;
                    width: $width_total;
                    padding-bottom:$padding - 50;
                    .card{
                    
                        border-radius: 30px;
                        width:250px;
                        margin:10px;
                        background-color: map-get($map: $paleta, $key: color-background);
                        img{
                            width: 250px;
                            border-radius: 30px;
                            margin-bottom: $margin;
                        }
                        .des_card{
                            margin-bottom:$margin - 5;
                            color: map-get($map: $paleta, $key: color-contenido);
                            font-family: $tipo-letra-contenido;
                        }
                        .ver{
                            text-decoration: none;
                            @extend %boton;
                            &:hover{
                                @include hover_boton;
                            }
                            a{
                                text-decoration: none;
                                color:map-get($map: $paleta, $key: color-blanco) ;
                            }
                        }
                    }
                }
            }
        }
    }
    
}