body{
    .main_servicios{
        .con_servicios{
            padding-top:$padding - 75;
            display:block;
            width: $width_total;
            text-align: center;
            .ser_titulo{
                h2{
                    @include titulo(38px);
                }
            }
            .con_servicios_card{
                @extend %flex;
                width: $width_total;
                padding-bottom:$padding - 50;
                .s_card{
                    width: 280px;
                    background-color:map-get($map: $paleta, $key: color-background);
                    margin: 10px;
                    border-radius: 30px;
                    img{
                        @include margin_arriba_abajo(5px,5px);
                        height:200px;
                        width:200px;
                        border-radius:50%;
                    }
                    .ser_h3{
                        font-family: $tipo-letra-titulos;
                        font-size:25px;
                        color:map-get($map: $paleta, $key: color-blanco) ;
                    }
                    .des_card_port{
                        color: #A4819D;
                    }
                    .ver{
                        text-decoration: none;
                        @extend %boton;
                        &:hover{
                            @include hover_boton;
                        }
                        a{
                            text-decoration: none;
                            color:map-get($map: $paleta, $key: color-blanco) ;
                        }
                    }
                }
                
            }
            .boos_slider{
                display: none;
            }
        }
        
    }
}