body{
    .main_servicios{
        .con_servicios{
            padding-top:5px;
            display:block;
            width: 100%;
            text-align: center;
            .ser_titulo{
                h2{
                    color:$color-blanco;
                    font-family: $tipo-letra-titulos;
                    font-size:30px;
                }
            }
            .con_servicios_card{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding-bottom:30px;
                .s_card{
                    width: 280px;
                    background-color: #1A1A1A;
                    margin: 10px;
                    border-radius: 30px;
                    img{
                        margin-top:5px;
                        margin-bottom:5px;
                        height:200px;
                        width:200px;
                        border-radius:50%;
                    }
                    .ser_h3{
                        font-family: $tipo-letra-titulos;
                        font-size:25px;
                        color:$color-blanco;
                    }
                    .des_card_port{
                        color: #A4819D;
                    }
                    .ver{
                        text-decoration: none;
                        display: inline-block;
                        margin: 10px;
                        padding: 10px;
                        border-radius:20px;
                        background-color: #E91A48;
                        &:hover{
                            border: 2px solid #E91A48;
                            background-color:black;
                        }
                        a{
                            text-decoration: none;
                            color:$color-blanco;
                        }
                    }
                }
            }
        }
        
    }
}