body{
    .main_skills{
        width: $width_total;
        .skills{
            width:$width_total;
            height:auto;
            text-align: center;
            @include margin_arriba_abajo(20px,30px);
            display: block;
            align-items: center;
            .skills_descripcion{
                .titulo_skills{
                    @include titulo(38px);
                    margin-bottom:$margin - 3;
                }
                .des{
                    color: #A4819D;
                    margin-bottom:$margin - 5;
                    padding:25px;
                }
            }
            .descargar_cv{
                @extend %boton;
                .enlace{
                    text-decoration: none;
                    color:map-get($map: $paleta, $key: color-blanco) ;
                }
                &:hover{
                    background-color:map-get($map: $paleta, $key: color-negro);
                    border:1px solid #E91A48;
                }
            }
        }
        .contenedor_card_skills{
            width: $width_total;
            @extend %flex;
            .skills_card{
                // border:1px solid red;
                background-color: map-get($map: $paleta, $key: color-background);
                width: 280px;
                border-radius: 30px;
                text-align: center;
                margin:$margin - 5;
                img{
                    padding: $padding - 70;
                    border-radius: 30px;
                    width: 250px;
                    height: 300px;
                    margin-bottom:$margin - 5;
                }
                .s_card_des{
                    @include margin_arriba_abajo(60px,15px);
                    p{
                        color:map-get($map: $paleta, $key: color-blanco) ;
                        font-size:30px;
                        font-family: $tipo-letra-contenido;
                        .s_span{
                            color: #E91A48;
                        }
                    }
                }
            }
        }
    }
}